<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="WebTechAssignment.testcomponents.Listeners"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="WebTechAssignment.tests.TestLogInFunctionality"/>
      <class name="WebTechAssignment.tests.TestLogOutFunctionality"/>
      <class name="WebTechAssignment.tests.TestMyInfoFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
